[Unit]
Description=STLL's distributed currency daemon
After=network.target

[Service]
User=stll
Group=stll

Type=forking
PIDFile=/var/lib/stlld/stlld.pid
ExecStart=/usr/bin/stlld -daemon -pid=/var/lib/stlld/stlld.pid \
-conf=/etc/stll/stll.conf -datadir=/var/lib/stlld

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
